:root {
    --color-red: #ff0000;
    --color-deep-blue: #000080;
    --color-magenta: #ff00ff;
    --color-green: #008000;
    --color-softer-blue: #0000ff;
    --color-vivid-orange: #ff6600;
    --color-black: #000000;
    --color-teal: #008080;
    --color-berry: #9f406f;
}
